$white: #ffffff;
$black: #555555;
$light-gray: #111111;
$dark-gray: #444444;
$green: #24890d;
$blue: #41799e;
$light-blue: #ebeff5;
$purple: #923d90;

$frame-color: $light-blue;
$background-color: $white;
$background-color-inverted: $light-blue;

$text-color: $black;
$text-color-secondary: $dark-gray;
$text-color-inverted: $light-gray;

$link-color: $blue;
